* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main.home {
    margin-top: 60px;
}

main .desc {
    color: #666;
    font-size: 18px;
    margin-top: 8px;
}

main.home .form-box {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

main.home .form-box input {
    flex: 1;
    border: none;
    outline: none;
    border: 1px solid #f0f0f0;
    height: 48px;
    font-size: 18px;
    padding: 0px 16px;
    border-radius: 8px;
}

main.home .form-box button {
    border: none;
    border-radius: 8px;
    margin-left: 16px;
    height: 48px;
    padding: 0px 14px;
    font-size: 18px;
    background-color: #00f;
    color: #fff;
}

main.home .todo-list {
    margin-top: 24px;
}


.fixed-btn {
    display: none;
    border: none;
    border-radius: 8px;
    margin-left: 16px;
    height: 48px;
    padding: 0px 14px;
    font-size: 18px;
    background-color: #00f;
    color: #fff;
    position: fixed;
    bottom: 20px;
    margin: 0;
    left: 20px;
    right: 20px;
}

main.about {
    margin-top: 60px;
}

main.about img {
    width: 100%;
    margin-top: 80px;
}

main.about .caption{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 245px;
    margin-bottom: 120px;
    color: #666;
    font-size: 18px;
}

main.about .caption span {
    color: #00f;
    margin-left: 6px;
}

/* Global */
.container {
    max-width: 800px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 400px) {
    main.home .form-box button {
        display: none;
    }

    .fixed-btn{
        display: block;
    }
}